[Sunpinyin]
# 使用双拼而不是全拼
# 可选值：
# True False
#UseShuangpin=False
# Sunpinyin 的双拼方案
# 可选值：
# MS2003
# ABC
# ZIRANMA
# PINYINJIAJIA
# ZIGUANG
# XIAOHE
#ShuangpinScheme=MS2003
# 模糊切分
# 可选值：
# True False
#FuzzySegmentation=True
# 支持内模糊音节 (xian->xi'an)
# 可选值：
# True False
#FuzzyInnerSegmentation=False
# Sunpinyin 猜测的句子个数
# 可选值：
# 1
# 2
# 3
#MaxBest=1
# 最佳尾候选数
# 可选值：
# 0
# 1
# 2
#MaxTail=0
# 记忆强度
#MemoryStrength=3
# 让 Sunpinyin 处理标点
# 可选值：
# True False
#ProcessPunc=False

[QuanPin]
# 模糊 zhi/zi
# 可选值：
# True False
#FuzzyZhiZi=False
# 模糊 chi/ci
# 可选值：
# True False
#FuzzyChiCi=False
# 模糊 shi/si
# 可选值：
# True False
#FuzzyShiSi=False
# 模糊 an/ang
# 可选值：
# True False
#FuzzyAnAng=False
# 模糊 on/ong
# 可选值：
# True False
#FuzzyOnOng=False
# 模糊 en/eng
# 可选值：
# True False
#FuzzyEnEng=False
# 模糊 in/ing
# 可选值：
# True False
#FuzzyInIng=False
# 模糊 eng/ong
# 可选值：
# True False
#FuzzyEngOng=False
# 模糊 ian/iang
# 可选值：
# True False
#FuzzyIanIang=False
# 模糊 uan/uang
# 可选值：
# True False
#FuzzyUanUang=False
# 模糊 n/l
# 可选值：
# True False
#FuzzyNeLe=False
# 模糊 f/h
# 可选值：
# True False
#FuzzyFoHe=False
# 模糊 l/r
# 可选值：
# True False
#FuzzyLeRi=False
# 模糊 k/g
# 可选值：
# True False
#FuzzyKeGe=False
# 自动纠正 gn 为 ng
# 可选值：
# True False
#AutoCorrectinggnng=True
# 自动纠正 uen 为 un
# 可选值：
# True False
#AutoCorrectingUenUn=False
# 自动纠正 img 为 ing
# 可选值：
# True False
#AutoCorrectingImgIng=False
# 自动纠正 iou 为 iu
# 可选值：
# True False
#AutoCorrectingIouIu=False
# 自动纠正 uei 为 ui
# 可选值：
# True False
#AutoCorrectingUeiUi=False

